version: "3.9"

services:
  web:
    build: .
    ports:
      - "8090:80"
    env_file:
      - .env
    volumes:
      - ./certs/ca.pem:/etc/mysql/ca.pem:ro
      - ./app:/var/www/html/app
